*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;
    transition: all 0.3s ease-in;
}
.container.active{
    width: 75%;
    transition: all 0.3s ease-in;
}
.card{
    width: max-content;
    text-align: center;
    display: inline-block;
    flex: 0 1 30%;
}
.card img{
    width: 250px;
    height: 250px;
    padding: 10px;
    object-fit: fill;
    border: 5px solid #e1701a;
    border-radius: 50%;
}
.content{
    background-color: #f7a440;
    border-radius: 5px;
    padding: 5px;
}
.card .title{
    font-weight: bold;
    margin: 20px;
}
select{
    padding: 5px 10px;
    margin-left: 5px;
    border: 2px solid #e1701a;
    border-radius: 50px;
}
button{
    border: 2px solid #e1701a;
    background: #101010;
    color: #fff;
    font-weight: bold;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    box-shadow: 0 0 5px 1px #e1701a;
    background: #ecebeb;
    color:#101010;
}
.cart{
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    /* border: 2px solid #101010; */
    background: #fff;
    z-index: 1;
    text-align: center;
    overflow-y: auto;
    padding: 30px 2px 10px;
    transform: translateX(150%);
    transition: all 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart.active{
    transform: translateX(0%);
    transition: all 0.3s ease-in;
}
hr{
    width: 50%;
    height: 3px;
    background-color: #101010;
    border-radius: 50%;
    margin: 10px auto 20px;
}
.cartItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cbd5e1;
    border-bottom: 2px solid #cbd5e1;
    padding: 10px;
    margin: 15px 5px;
    gap: 10px;
    position: relative;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: #ecebeb;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all .2s ease;
}
.close:hover{
    transform: scale(1.1);
    transition: transform .2s ease;
    background-color: rgb(194, 0, 0);
}
.cartItem img{
    width: 65px;
    height: 65px;
    padding: 2px;
    object-fit: fill;
    border: 2px solid #e1701a;
    border-radius: 50%;
}
.itemInfo {
    text-align: left;
}

.itemInfo h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.variant {
    display: flex;
    align-items: center;
    gap: 10px;
}

.variant div {
    font-size: 16px;
    font-weight: 600;
}

.variant span {
    font-size: 16px;
    font-style: italic;
}
.madeBy{
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 10;
    /* transform: translateX(-5%); */
    font-size: 14px;
    font-style: italic;
    background-color: #070707;
    color: #cbd5e1;
    padding: 5px 20px;
    border-radius: 50px;
}